.App {
  position:absolute;
  top:0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: scroll;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.card-holder {
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  display: flex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-holder::-webkit-scrollbar {
  display: none;
}

.carousel {
  display: flex;
  align-items: center;
  width: fit-content;
}

.left-arrow {
  position: absolute;
}

.right-arrow {
  position: absolute;
  right: 1vw;
}

.card {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  background-color: grey;
  margin: 10px;
}

.card p {
  font-size: 50px;
  text-align: center;
  width: 100%;
}